{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_post') }}" method=post class=add-post>
      <dl>
        <dt>User:
        <dd><input type=text size=30 name=user>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <ul class=posts>
  {% for post in posts %}
    <li><h2>{{ post.user }}</h2>{{ post.text|safe }}
  {% else %}
    <li><em>No posts yet.</em>
  {% endfor %}
  </ul>
{% endblock %}